In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('data/MUP_DPR_RY21_P04_V10_DY19_NPIBN_1.csv')
df.head(2)

In [ ]:
df.dtypes

In [6]:
df = df.drop(['Prscrbr_NPI', 'Tot_Clms', 'Tot_30day_Fills','Tot_Day_Suply', 'Tot_Drug_Cst', 'Tot_Benes', 'GE65_Tot_Clms', 'GE65_Tot_30day_Fills', 'GE65_Tot_Drug_Cst', 'GE65_Tot_Day_Suply', 'GE65_Tot_Benes'], axis=1)
df.head(5)

,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_City,Prscrbr_State_Abrvtn,Prscrbr_State_FIPS,Prscrbr_Type,Prscrbr_Type_Src,Brnd_Name,Gnrc_Name,GE65_Sprsn_Flag,GE65_Bene_Sprsn_Flag
0,Enkeshafi,Ardalan,Cumberland,MD,24,Internal Medicine,S,Amiodarone Hcl,Amiodarone Hcl,NaN,*
1,Enkeshafi,Ardalan,Cumberland,MD,24,Internal Medicine,S,Amlodipine Besylate,Amlodipine Besylate,NaN,NaN
2,Enkeshafi,Ardalan,Cumberland,MD,24,Internal Medicine,S,Atorvastatin Calcium,Atorvastatin Calcium,NaN,NaN
3,Enkeshafi,Ardalan,Cumberland,MD,24,Internal Medicine,S,Azithromycin,Azithromycin,#,#
4,Enkeshafi,Ardalan,Cumberland,MD,24,Internal Medicine,S,Carvedilol,Carvedilol,NaN,NaN

In [7]:
df.shape

(50, 11)

In [ ]:
# Finding the null values.
print(df.isnull().sum())

In [8]:
df.Brnd_Name.value_counts()

Amiodarone Hcl                    2
Allopurinol                       2
Oxycodone-Acetaminophen           2
Amlodipine Besylate               2
Alendronate Sodium                1
Premarin                          1
Hydrocodone-Acetaminophen         1
Lyrica                            1
Meloxicam                         1
Morphine Sulfate Er               1
Oxycodone Hcl                     1
Pregabalin                        1
Tizanidine Hcl                    1
Amoxicillin-Clavulanate Potass    1
Tramadol Hcl                      1
Amoxicillin                       1
Gabapentin                        1
Alprazolam                        1
Clobetasol Propionate             1
Clotrimazole-Betamethasone        1
Estradiol                         1
Femynor                           1
Oxybutynin Chloride Er            1
Cephalexin                        1
Fentanyl                          1
Duloxetine Hcl                    1
Isosorbide Mononitrate Er         1
Atorvastatin Calcium              1
Azithromycin                      1
Carvedilol                        1
Cefdinir                          1
Clopidogrel                       1
Doxycycline Hyclate               1
Eliquis                           1
Furosemide                        1
Lisinopril                        1
Diclofenac Sodium                 1
Losartan Potassium                1
Metoprolol Succinate              1
Metoprolol Tartrate               1
Pantoprazole Sodium               1
Prednisone                        1
Acetaminophen-Codeine             1
Baclofen                          1
Cyclobenzaprine Hcl               1
Atenolol                          1
Name: Brnd_Name, dtype: int64